In [33]:
from bs4 import BeautifulSoup
import requests

In [34]:
%%html
<!DOCTYPE html>
<html>
<head>
<title>Page Title</title>
</head>
<body>
<h3><b id='boldest'>Lebron James</b></h3>
<p> Salary: $ 92,000,000 </p>
<h3> Stephen Curry</h3>
<p> Salary: $85,000, 000 </p>
<h3> Kevin Durant </h3>
<p> Salary: $73,200, 000</p>
</body>
</html>

In [35]:
html = "<!DOCTYPE html><html><head><title>Page Title</title></head><body><h3><b id='boldest'>Lebron James</b></h3><p> Salary: $ 92,000,000 </p><h3> Stephen Curry</h3><p> Salary: $85,000, 000 </p><h3> Kevin Durant </h3><p> Salary: $73,200, 000</p></body></html>"

In [36]:
soup = BeautifulSoup(html, "html.parser")

In [37]:
print(soup.prettify())

<!DOCTYPE html>
<html>
 <head>
  <title>
   Page Title
  </title>
 </head>
 <body>
  <h3>
   <b id="boldest">
    Lebron James
   </b>
  </h3>
  <p>
   Salary: $ 92,000,000
  </p>
  <h3>
   Stephen Curry
  </h3>
  <p>
   Salary: $85,000, 000
  </p>
  <h3>
   Kevin Durant
  </h3>
  <p>
   Salary: $73,200, 000
  </p>
 </body>
</html>

In [38]:
tag_object = soup.title
print("Tag object: ", tag_object)

Tag object:  <title>Page Title</title>

In [39]:
type(tag_object)

bs4.element.Tag

In [40]:
tag_object = soup.h3
tag_object

In [41]:
tag_child = tag_object.b
tag_child

In [42]:
parent_tag = tag_child.parent
parent_tag

In [43]:
tag_object

In [44]:
tag_object.parent

In [45]:
sibling_1 = tag_object.nextSibling
sibling_1

In [46]:
tag_child.attrs

{'id': 'boldest'}

In [47]:
tag_child.get('id')

'boldest'

In [48]:
tag_string = tag_child.string
tag_string

'Lebron James'

In [49]:
type(tag_string)

bs4.element.NavigableString

In [50]:
unicode_string = str(tag_string)
unicode_string

'Lebron James'

In [51]:
import requests
import pandas as pd
from bs4 import BeautifulSoup
url = "http://www.ibm.com"

In [52]:
data = requests.get(url).text

In [53]:
soup = BeautifulSoup(data, "html.parser")

In [54]:
for link in soup.find_all('a', href=True):
    print(link.get('href'))

https://www.ibm.com/products/qradar-siem?lnk=hpenls1
#3171776
#3171802
#3171808
#3171812
#3171828
#3171834
https://in.newsroom.ibm.com/20230313-BESTSELLER-India-IBM-collaboration/?lnk=hpenan1
/in-en/about
#tab_3171780
#tab_3171784
#tab_3171788
#tab_3171792
#tab_3171796
#tab_3171800
https://www.ibm.com/consulting/?lnk=hpenco1
https://www.ibm.com/consulting/strategy/?lnk=hpenco2
https://www.ibm.com/consulting/ibmix?lnk=flathl
https://www.ibm.com/consulting/technology/?lnk=hpenco4
https://www.ibm.com/services/operations-consulting?lnk=flathl
/strategic-partnerships?lnk=hpenco6
https://www.ibm.com/case-studies/asian-paints-limited?lnk=hpencs1
https://www.ibm.com/careers/in-en/?lnk=flatitem
https://www.ibm.com/careers/in-en/?lnk=flatitem
https://research.ibm.com/
https://research.ibm.com/
https://www.ibm.com/in-en/impact/responsibility
https://www.ibm.com/in-en/impact/responsibility
https://www.ibm.com/reports/threat-intelligence?lnk=hpenf2
#

In [55]:
for link in soup.find_all('img'):
    print(link)
    print(link.get('src'))

<img alt="Person standing with arms crossed" class="" loading="lazy" src="//1.cms.s81c.com/sites/default/files/2022-11-16/XLG%20-%20IBM%20Consulting%20-%20Overview.jpg"/>
//1.cms.s81c.com/sites/default/files/2022-11-16/XLG%20-%20IBM%20Consulting%20-%20Overview.jpg
<img alt="Team members at work in a conference room" class="" loading="lazy" src="//1.cms.s81c.com/sites/default/files/2022-11-16/XLG%20-%20IBM%20Consulting%20-%20Strategy.jpg"/>
//1.cms.s81c.com/sites/default/files/2022-11-16/XLG%20-%20IBM%20Consulting%20-%20Strategy.jpg
<img alt="Coworkers looking at laptops" class="" loading="lazy" src="//1.cms.s81c.com/sites/default/files/2022-11-16/XLG%20-%20IBM%20Consulting%20-%20Experience.jpg"/>
//1.cms.s81c.com/sites/default/files/2022-11-16/XLG%20-%20IBM%20Consulting%20-%20Experience.jpg
<img alt="Cloud developer with red sweater coding at desk" class="" loading="lazy" src="//1.cms.s81c.com/sites/default/files/2022-11-16/XLG%20-%20IBM%20Consulting%20-%20Technology.jpg"/>
//1.cms.s81c.com/sites/default/files/2022-11-16/XLG%20-%20IBM%20Consulting%20-%20Technology.jpg
<img alt="Aerial view of automated conveyer belt and machinery at work" class="" loading="lazy" src="//1.cms.s81c.com/sites/default/files/2022-11-16/XLG%20-%20IBM%20Consulting%20-%20Operations.jpg"/>
//1.cms.s81c.com/sites/default/files/2022-11-16/XLG%20-%20IBM%20Consulting%20-%20Operations.jpg
<img alt="Overhead view of partners collaborating on design with laptops and coffee" class="" loading="lazy" src="//1.cms.s81c.com/sites/default/files/2022-11-16/XLG%20-%20IBM%20Consulting%20-%20Partners.jpg"/>
//1.cms.s81c.com/sites/default/files/2022-11-16/XLG%20-%20IBM%20Consulting%20-%20Partners.jpg
<img alt="IBM employee on campus" class="" loading="lazy" src="//1.cms.s81c.com/sites/default/files/2022-11-16/XLG%20-%20Inside%20IBM%20-%20IBM%20Careers.jpg"/>
//1.cms.s81c.com/sites/default/files/2022-11-16/XLG%20-%20Inside%20IBM%20-%20IBM%20Careers.jpg
<img alt="Gloved hand rinsing tool in sink after research experiment" class="" loading="lazy" src="//1.cms.s81c.com/sites/default/files/2022-11-16/XLG%20-%20Inside%20IBM%20-%20Research%20Labs.jpg"/>
//1.cms.s81c.com/sites/default/files/2022-11-16/XLG%20-%20Inside%20IBM%20-%20Research%20Labs.jpg
<img alt="Hazy city skyline with skyscrapers " class="" loading="lazy" src="//1.cms.s81c.com/sites/default/files/2022-11-16/XLG%20-%20Inside%20IBM%20-%20Corporate%20Social%20Responsibility.jpg"/>
//1.cms.s81c.com/sites/default/files/2022-11-16/XLG%20-%20Inside%20IBM%20-%20Corporate%20Social%20Responsibility.jpg

In [56]:
url = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DA0321EN-SkillsNetwork/labs/datasets/HTMLColorCodes.html"

In [57]:
data = requests.get(url).text

In [58]:
soup = BeautifulSoup(data, "html.parser")

In [59]:
table = soup.find('table')
table

<table border="1" class="main-table">
<tr>
<td>Number </td>
<td>Color</td>
<td>Color Name</td>
<td>Hex Code<br/>#RRGGBB</td>
<td>Decimal Code<br/>(R,G,B)</td>
</tr>
<tr>
<td>1</td>
<td style="background:lightsalmon;"> </td>
<td>lightsalmon</td>
<td>#FFA07A</td>
<td>rgb(255,160,122)</td>
</tr>
<tr>
<td>2</td>
<td style="background:salmon;"> </td>
<td>salmon</td>
<td>#FA8072</td>
<td>rgb(250,128,114)</td>
</tr>
<tr>
<td>3</td>
<td style="background:darksalmon;"> </td>
<td>darksalmon</td>
<td>#E9967A</td>
<td>rgb(233,150,122)</td>
</tr>
<tr>
<td>4</td>
<td style="background:lightcoral;"> </td>
<td>lightcoral</td>
<td>#F08080</td>
<td>rgb(240,128,128)</td>
</tr>
<tr>
<td>5</td>
<td style="background:coral;"> </td>
<td>coral</td>
<td>#FF7F50</td>
<td>rgb(255,127,80)</td>
</tr>
<tr>
<td>6</td>
<td style="background:tomato;"> </td>
<td>tomato</td>
<td>#FF6347</td>
<td>rgb(255,99,71)</td>
</tr>
<tr>
<td>7</td>
<td style="background:orangered;"> </td>
<td>orangered</td>
<td>#FF4500</td>
<td>rgb(255,69,0)</td>
</tr>
<tr>
<td>8</td>
<td style="background:gold;"> </td>
<td>gold</td>
<td>#FFD700</td>
<td>rgb(255,215,0)</td>
</tr>
<tr>
<td>9</td>
<td style="background:orange;"> </td>
<td>orange</td>
<td>#FFA500</td>
<td>rgb(255,165,0)</td>
</tr>
<tr>
<td>10</td>
<td style="background:darkorange;"> </td>
<td>darkorange</td>
<td>#FF8C00</td>
<td>rgb(255,140,0)</td>
</tr>
<tr>
<td>11</td>
<td style="background:lightyellow;"> </td>
<td>lightyellow</td>
<td>#FFFFE0</td>
<td>rgb(255,255,224)</td>
</tr>
<tr>
<td>12</td>
<td style="background:lemonchiffon;"> </td>
<td>lemonchiffon</td>
<td>#FFFACD</td>
<td>rgb(255,250,205)</td>
</tr>
<tr>
<td>13</td>
<td style="background:papayawhip;"> </td>
<td>papayawhip</td>
<td>#FFEFD5</td>
<td>rgb(255,239,213)</td>
</tr>
<tr>
<td>14</td>
<td style="background:moccasin;"> </td>
<td>moccasin</td>
<td>#FFE4B5</td>
<td>rgb(255,228,181)</td>
</tr>
<tr>
<td>15</td>
<td style="background:peachpuff;"> </td>
<td>peachpuff</td>
<td>#FFDAB9</td>
<td>rgb(255,218,185)</td>
</tr>
<tr>
<td>16</td>
<td style="background:palegoldenrod;"> </td>
<td>palegoldenrod</td>
<td>#EEE8AA</td>
<td>rgb(238,232,170)</td>
</tr>
<tr>
<td>17</td>
<td style="background:khaki;"> </td>
<td>khaki</td>
<td>#F0E68C</td>
<td>rgb(240,230,140)</td>
</tr>
<tr>
<td>18</td>
<td style="background:darkkhaki;"> </td>
<td>darkkhaki</td>
<td>#BDB76B</td>
<td>rgb(189,183,107)</td>
</tr>
<tr>
<td>19</td>
<td style="background:yellow;"> </td>
<td>yellow</td>
<td>#FFFF00</td>
<td>rgb(255,255,0)</td>
</tr>
<tr>
<td>20</td>
<td style="background:lawngreen;"> </td>
<td>lawngreen</td>
<td>#7CFC00</td>
<td>rgb(124,252,0)</td>
</tr>
<tr>
<td>21</td>
<td style="background:chartreuse;"> </td>
<td>chartreuse</td>
<td>#7FFF00</td>
<td>rgb(127,255,0)</td>
</tr>
<tr>
<td>22</td>
<td style="background:limegreen;"> </td>
<td>limegreen</td>
<td>#32CD32</td>
<td>rgb(50,205,50)</td>
</tr>
<tr>
<td>23</td>
<td style="background:lime;"> </td>
<td>lime</td>
<td>#00FF00</td>
<td>rgb(0.255.0)</td>
</tr>
<tr>
<td>24</td>
<td style="background:forestgreen;"> </td>
<td>forestgreen</td>
<td>#228B22</td>
<td>rgb(34,139,34)</td>
</tr>
<tr>
<td>25</td>
<td style="background:green;"> </td>
<td>green</td>
<td>#008000</td>
<td>rgb(0,128,0)</td>
</tr>
<tr>
<td>26</td>
<td style="background:powderblue;"> </td>
<td>powderblue</td>
<td>#B0E0E6</td>
<td>rgb(176,224,230)</td>
</tr>
<tr>
<td>27</td>
<td style="background:lightblue;"> </td>
<td>lightblue</td>
<td>#ADD8E6</td>
<td>rgb(173,216,230)</td>
</tr>
<tr>
<td>28</td>
<td style="background:lightskyblue;"> </td>
<td>lightskyblue</td>
<td>#87CEFA</td>
<td>rgb(135,206,250)</td>
</tr>
<tr>
<td>29</td>
<td style="background:skyblue;"> </td>
<td>skyblue</td>
<td>#87CEEB</td>
<td>rgb(135,206,235)</td>
</tr>
<tr>
<td>30</td>
<td style="background:deepskyblue;"> </td>
<td>deepskyblue</td>
<td>#00BFFF</td>
<td>rgb(0,191,255)</td>
</tr>
<tr>
<td>31</td>
<td style="background:lightsteelblue;"> </td>
<td>lightsteelblue</td>
<td>#B0C4DE</td>
<td>rgb(176,196,222)</td>
</tr>
<tr>
<td>32</td>
<td style="background:dodgerblue;"> </td>
<td>dodgerblue</td>
<td>#1E90FF</td>
<td>rgb(30,144,255)</td>
</tr>
</table>

In [60]:
url = "https://en.wikipedia.org/wiki/World_population"

In [61]:
data = requests.get(url).text

In [62]:
soup = BeautifulSoup(data, "html.parser")

In [63]:
tables = soup.find_all('table')

In [64]:
# Getting number of tables
len(tables)

24

In [73]:

for index,table in enumerate(tables):
    if("10 most densely populated countries" in str(table)):
        table_index = index
print(table_index)

4

In [74]:
print(tables[table_index].prettify)

<bound method Tag.prettify of <table class="wikitable sortable" style="text-align:right">
<caption>10 most densely populated countries <small>(with population above 5 million)</small><sup class="reference" id="cite_ref-:10_106-0"><a href="#cite_note-:10-106">[101]</a></sup>
</caption>
<tbody><tr>
<th scope="col">Rank
</th>
<th scope="col">Country
</th>
<th scope="col">Population
</th>
<th scope="col">Area<br/><small>(km<sup>2</sup>)</small>
</th>
<th scope="col">Density<br/><small>(pop/km<sup>2</sup>)</small>
</th></tr>
<tr>
<td>1</td>
<td align="left"><span class="flagicon"><img alt="" class="thumbborder" data-file-height="600" data-file-width="900" decoding="async" height="15" src="//upload.wikimedia.org/wikipedia/commons/thumb/4/48/Flag_of_Singapore.svg/23px-Flag_of_Singapore.svg.png" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/4/48/Flag_of_Singapore.svg/35px-Flag_of_Singapore.svg.png 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/4/48/Flag_of_Singapore.svg/45px-Flag_of_Singapore.svg.png 2x" width="23"/> </span><a href="/wiki/Singapore" title="Singapore">Singapore</a></td>
<td>5,921,231</td>
<td>719</td>
<td>8,235
</td></tr>
<tr>
<td>2</td>
<td align="left"><span class="flagicon"><img alt="" class="thumbborder" data-file-height="600" data-file-width="1000" decoding="async" height="14" src="//upload.wikimedia.org/wikipedia/commons/thumb/f/f9/Flag_of_Bangladesh.svg/23px-Flag_of_Bangladesh.svg.png" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/f/f9/Flag_of_Bangladesh.svg/35px-Flag_of_Bangladesh.svg.png 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/f/f9/Flag_of_Bangladesh.svg/46px-Flag_of_Bangladesh.svg.png 2x" width="23"/> </span><a href="/wiki/Bangladesh" title="Bangladesh">Bangladesh</a></td>
<td>165,650,475</td>
<td>148,460</td>
<td>1,116
</td></tr>
<tr>
<td>3</td>
<td align="left">
<p><span class="flagicon"><img alt="" class="thumbborder" data-file-height="216" data-file-width="432" decoding="async" height="12" src="//upload.wikimedia.org/wikipedia/commons/thumb/0/00/Flag_of_Palestine.svg/23px-Flag_of_Palestine.svg.png" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/0/00/Flag_of_Palestine.svg/35px-Flag_of_Palestine.svg.png 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/0/00/Flag_of_Palestine.svg/46px-Flag_of_Palestine.svg.png 2x" width="23"/> </span><a href="/wiki/State_of_Palestine" title="State of Palestine">Palestine</a><sup class="reference" id="cite_ref-107"><a href="#cite_note-107">[102]</a></sup>
</p>
</td>
<td>5,223,000</td>
<td>6,025</td>
<td>867
</td></tr>
<tr>
<td>4</td>
<td align="left"><span class="flagicon"><img alt="" class="thumbborder" data-file-height="600" data-file-width="900" decoding="async" height="15" src="//upload.wikimedia.org/wikipedia/commons/thumb/7/72/Flag_of_the_Republic_of_China.svg/23px-Flag_of_the_Republic_of_China.svg.png" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/7/72/Flag_of_the_Republic_of_China.svg/35px-Flag_of_the_Republic_of_China.svg.png 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/7/72/Flag_of_the_Republic_of_China.svg/45px-Flag_of_the_Republic_of_China.svg.png 2x" width="23"/> </span><a href="/wiki/Taiwan" title="Taiwan">Taiwan</a></td>
<td>23,580,712</td>
<td>35,980</td>
<td>655
</td></tr>
<tr>
<td>5</td>
<td align="left"><span class="flagicon"><img alt="" class="thumbborder" data-file-height="600" data-file-width="900" decoding="async" height="15" src="//upload.wikimedia.org/wikipedia/commons/thumb/0/09/Flag_of_South_Korea.svg/23px-Flag_of_South_Korea.svg.png" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/0/09/Flag_of_South_Korea.svg/35px-Flag_of_South_Korea.svg.png 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/0/09/Flag_of_South_Korea.svg/45px-Flag_of_South_Korea.svg.png 2x" width="23"/> </span><a href="/wiki/South_Korea" title="South Korea">South Korea</a></td>
<td>51,844,834</td>
<td>99,720</td>
<td>520
</td></tr>
<tr>
<td>6</td>
<td align="left"><span class="flagicon"><img alt="" class="thumbborder" data-file-height="600" data-file-width="900" decoding="async" height="15" src="//upload.wikimedia.org/wikipedia/commons/thumb/5/59/Flag_of_Lebanon.svg/23px-Flag_of_Lebanon.svg.png" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/5/59/Flag_of_Lebanon.svg/35px-Flag_of_Lebanon.svg.png 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/5/59/Flag_of_Lebanon.svg/45px-Flag_of_Lebanon.svg.png 2x" width="23"/> </span><a href="/wiki/Lebanon" title="Lebanon">Lebanon</a></td>
<td>5,296,814</td>
<td>10,400</td>
<td>509
</td></tr>
<tr>
<td>7</td>
<td align="left"><span class="flagicon"><img alt="" class="thumbborder" data-file-height="600" data-file-width="900" decoding="async" height="15" src="//upload.wikimedia.org/wikipedia/commons/thumb/1/17/Flag_of_Rwanda.svg/23px-Flag_of_Rwanda.svg.png" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/1/17/Flag_of_Rwanda.svg/35px-Flag_of_Rwanda.svg.png 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/1/17/Flag_of_Rwanda.svg/45px-Flag_of_Rwanda.svg.png 2x" width="23"/> </span><a href="/wiki/Rwanda" title="Rwanda">Rwanda</a></td>
<td>13,173,730</td>
<td>26,338</td>
<td>500
</td></tr>
<tr>
<td>8</td>
<td align="left"><span class="flagicon"><img alt="" class="thumbborder" data-file-height="600" data-file-width="1000" decoding="async" height="14" src="//upload.wikimedia.org/wikipedia/commons/thumb/5/50/Flag_of_Burundi.svg/23px-Flag_of_Burundi.svg.png" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/5/50/Flag_of_Burundi.svg/35px-Flag_of_Burundi.svg.png 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/5/50/Flag_of_Burundi.svg/46px-Flag_of_Burundi.svg.png 2x" width="23"/> </span><a href="/wiki/Burundi" title="Burundi">Burundi</a></td>
<td>12,696,478</td>
<td>27,830</td>
<td>456
</td></tr>
<tr>
<td>9</td>
<td align="left"><span class="flagicon"><img alt="" class="thumbborder" data-file-height="900" data-file-width="1350" decoding="async" height="15" src="//upload.wikimedia.org/wikipedia/en/thumb/4/41/Flag_of_India.svg/23px-Flag_of_India.svg.png" srcset="//upload.wikimedia.org/wikipedia/en/thumb/4/41/Flag_of_India.svg/35px-Flag_of_India.svg.png 1.5x, //upload.wikimedia.org/wikipedia/en/thumb/4/41/Flag_of_India.svg/45px-Flag_of_India.svg.png 2x" width="23"/> </span><a href="/wiki/India" title="India">India</a></td>
<td>1,389,637,446</td>
<td>3,287,263</td>
<td>423
</td></tr>
<tr>
<td>10</td>
<td align="left"><span class="flagicon"><img alt="" class="thumbborder" data-file-height="600" data-file-width="900" decoding="async" height="15" src="//upload.wikimedia.org/wikipedia/commons/thumb/2/20/Flag_of_the_Netherlands.svg/23px-Flag_of_the_Netherlands.svg.png" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/2/20/Flag_of_the_Netherlands.svg/35px-Flag_of_the_Netherlands.svg.png 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/2/20/Flag_of_the_Netherlands.svg/45px-Flag_of_the_Netherlands.svg.png 2x" width="23"/> </span><a href="/wiki/Netherlands" title="Netherlands">Netherlands</a></td>
<td>17,400,824</td>
<td>41,543</td>
<td>419
</td></tr></tbody></table>>

In [82]:
population_data = pd.DataFrame(columns=["Rank", "Country", "Population", "Density"])
for row in tables[table_index].tbody.find_all("tr"):
    col = row.find_all("td")
    if(col != []):
        rank = col[0].text
        country = col[1].text
        population = col[2].text
        area = col[3].text
        density = col[4].text
        population_data = population_data.append({"Rank": rank,"Country": country,"Population": population,"Area": area,"Density": density}, ignore_index = True)

population_data

/tmp/ipykernel_8614/2143151266.py:10: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  population_data = population_data.append({"Rank": rank,"Country": country,"Population": population,"Area": area,"Density": density}, ignore_index = True)
/tmp/ipykernel_8614/2143151266.py:10: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  population_data = population_data.append({"Rank": rank,"Country": country,"Population": population,"Area": area,"Density": density}, ignore_index = True)
/tmp/ipykernel_8614/2143151266.py:10: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  population_data = population_data.append({"Rank": rank,"Country": country,"Population": population,"Area": area,"Density": density}, ignore_index = True)
/tmp/ipykernel_8614/2143151266.py:10: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  population_data = population_data.append({"Rank": rank,"Country": country,"Population": population,"Area": area,"Density": density}, ignore_index = True)
/tmp/ipykernel_8614/2143151266.py:10: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  population_data = population_data.append({"Rank": rank,"Country": country,"Population": population,"Area": area,"Density": density}, ignore_index = True)
/tmp/ipykernel_8614/2143151266.py:10: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  population_data = population_data.append({"Rank": rank,"Country": country,"Population": population,"Area": area,"Density": density}, ignore_index = True)
/tmp/ipykernel_8614/2143151266.py:10: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  population_data = population_data.append({"Rank": rank,"Country": country,"Population": population,"Area": area,"Density": density}, ignore_index = True)
/tmp/ipykernel_8614/2143151266.py:10: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  population_data = population_data.append({"Rank": rank,"Country": country,"Population": population,"Area": area,"Density": density}, ignore_index = True)
/tmp/ipykernel_8614/2143151266.py:10: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  population_data = population_data.append({"Rank": rank,"Country": country,"Population": population,"Area": area,"Density": density}, ignore_index = True)
/tmp/ipykernel_8614/2143151266.py:10: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  population_data = population_data.append({"Rank": rank,"Country": country,"Population": population,"Area": area,"Density": density}, ignore_index = True)

  Rank                Country     Population  Density       Area
0    1              Singapore      5,921,231  8,235\n        719
1    2             Bangladesh    165,650,475  1,116\n    148,460
2    3  \n Palestine[102]\n\n      5,223,000    867\n      6,025
3    4                 Taiwan     23,580,712    655\n     35,980
4    5            South Korea     51,844,834    520\n     99,720
5    6                Lebanon      5,296,814    509\n     10,400
6    7                 Rwanda     13,173,730    500\n     26,338
7    8                Burundi     12,696,478    456\n     27,830
8    9                  India  1,389,637,446    423\n  3,287,263
9   10            Netherlands     17,400,824    419\n     41,543

In [86]:
pd.read_html(str(tables[4]), flavor='lxml')

[   Rank         Country  Population  Area (km2)  Density (pop/km2)
 0     1       Singapore     5921231         719               8235
 1     2      Bangladesh   165650475      148460               1116
 2     3  Palestine[102]     5223000        6025                867
 3     4          Taiwan    23580712       35980                655
 4     5     South Korea    51844834       99720                520
 5     6         Lebanon     5296814       10400                509
 6     7          Rwanda    13173730       26338                500
 7     8         Burundi    12696478       27830                456
 8     9           India  1389637446     3287263                423
 9    10     Netherlands    17400824       41543                419]

In [88]:
population_data_read_html = pd.read_html(str(tables[4]))[0]
population_data_read_html

   Rank         Country  Population  Area (km2)  Density (pop/km2)
0     1       Singapore     5921231         719               8235
1     2      Bangladesh   165650475      148460               1116
2     3  Palestine[102]     5223000        6025                867
3     4          Taiwan    23580712       35980                655
4     5     South Korea    51844834       99720                520
5     6         Lebanon     5296814       10400                509
6     7          Rwanda    13173730       26338                500
7     8         Burundi    12696478       27830                456
8     9           India  1389637446     3287263                423
9    10     Netherlands    17400824       41543                419

In [90]:
datafram_list = pd.read_html(url, flavor='lxml')
datafram_list

[      Population         1     2     3     4     5     6     7     8     9  \
 0           Year      1804  1930  1960  1974  1987  1999  2011  2022  2037
 1  Years elapsed  200,000+   126    30    14    13    12    12    11    15

      10
 0  2057
 1    20  ,
                      Region Density (inhabitants/km2) Population (millions)  \
 0                      Asia                     104.1                  4641
 1                    Africa                      44.4                  1340
 2                    Europe                      73.4                   747
 3             Latin America                      24.1                   653
 4  Northern America[note 2]                      14.9                   368
 5                   Oceania                         5                    42
 6                Antarctica                        ~0             0.004[89]

                                Most populous country  \
 0                      1,411,778,000 – China[note 1]
 1                            0,211,401,000 – Nigeria
 2  0,146,171,000 – Russia, approx. 110 million in...
 3                             0,214,103,000 – Brazil
 4                      0,332,909,000 – United States
 5                          0,025,917,000 – Australia
 6                                        N/A[note 3]

               Most populous city (metropolitan area)
 0  13,515,000 – Tokyo Metropolis (37,400,000 – Gr...
 1    09,500,000 – Cairo (20,076,000 – Greater Cairo)
 2  13,200,000 – Moscow (20,004,000 – Moscow metro...
 3  12,252,000 – São Paulo City (21,650,000 – São ...
 4  08,804,000 – New York City (23,582,649 – New Y...
 5                                05,367,000 – Sydney
 6                       00,001,258 – McMurdo Station  ,
    Rank Country / Dependency  Population  Percentage of the world  \
 0     1                China  1412600000                      NaN
 1     2                India  1373761000                      NaN
 2     3        United States   333830754                      NaN
 3     4            Indonesia   275773800                      NaN
 4     5             Pakistan   229488994                      NaN
 5     6              Nigeria   216746934                      NaN
 6     7               Brazil   215945904                      NaN
 7     8           Bangladesh   168220000                      NaN
 8     9               Russia   147190000                      NaN
 9    10               Mexico   128271248                      NaN

           Date Source (official or from the United Nations)
 0  31 Dec 2021                 National annual estimate[91]
 1   1 Mar 2022                 Annual national estimate[92]
 2  28 Mar 2023                National population clock[93]
 3   1 Jul 2022                 National annual estimate[94]
 4   1 Jul 2022                            UN projection[95]
 5   1 Jul 2022                            UN projection[95]
 6  28 Mar 2023                National population clock[96]
 7   1 Jul 2020               Annual Population Estimate[97]
 8   1 Oct 2021          2021 preliminary census results[98]
 9  31 Mar 2022              National quarterly estimate[99]  ,
                                                     #  \
 0                                                 NaN
 1                                                 NaN
 2                                                 NaN
 3                                                 NaN
 4                                                 NaN
 5                                                 NaN
 6                                                 NaN
 7                                                 NaN
 8                                                 NaN
 9                                                 NaN
 10                                                NaN
 11                                                  1
 12                                                  2
 13                                                  3
 14                                                  4
 15                                                  5
 16                                                  6
 17                                                  7
 18                                                  8
 19                                                  9
 20                                                 10
 21                                                NaN
 22  Notes: .mw-parser-output .reflist{font-size:90...

                               Most populous countries  \
 0                                                 NaN
 1                                                 NaN
 2                                                 NaN
 3                                                 NaN
 4                                                 NaN
 5                                                 NaN
 6                                                 NaN
 7                                                 NaN
 8                                                 NaN
 9                                                 NaN
 10                                                NaN
 11                                           China[B]
 12                                              India
 13                                      United States
 14                                          Indonesia
 15                                           Pakistan
 16                                             Brazil
 17                                            Nigeria
 18                                         Bangladesh
 19                                             Russia
 20                                             Mexico
 21                                        World total
 22  Notes: .mw-parser-output .reflist{font-size:90...

                                                  2000  \
 0                                                 NaN
 1                                                 NaN
 2                                                 NaN
 3                                                 NaN
 4                                                 NaN
 5                                                 NaN
 6                                                 NaN
 7                                                 NaN
 8                                                 NaN
 9                                                 NaN
 10                                                NaN
 11                                               1270
 12                                               1053
 13                                                283
 14                                                212
 15                                                136
 16                                                176
 17                                                123
 18                                                131
 19                                                146
 20                                                103
 21                                               6127
 22  Notes: .mw-parser-output .reflist{font-size:90...

                                                  2015  \
 0                                                 NaN
 1                                                 NaN
 2                                                 NaN
 3                                                 NaN
 4                                                 NaN
 5                                                 NaN
 6                                                 NaN
 7                                                 NaN
 8                                                 NaN
 9                                                 NaN
 10                                                NaN
 11                                               1376
 12                                               1311
 13                                                322
 14                                                258
 15                                                208
 16                                                206
 17                                                182
 18                                                161
 19                                                146
 20                                                127
 21                                               7349
 22  Notes: .mw-parser-output .reflist{font-size:90...

                                               2030[A]  \
 0                                                 NaN
 1                                                 NaN
 2                                                 NaN
 3                                                 NaN
 4                                                 NaN
 5                                                 NaN
 6                                                 NaN
 7                                                 NaN
 8                                                 NaN
 9                                                 NaN
 10                                                NaN
 11                                               1416
 12                                               1528
 13                                                356
 14                                                295
 15                                                245
 16                                                228
 17                                                263
 18                                                186
 19                                                149
 20                                                148
 21                                               8501
 22  Notes: .mw-parser-output .reflist{font-size:90...

                                            Unnamed: 5
 0                                                 NaN
 1                                                 NaN
 2                                                 NaN
 3                                                 NaN
 4                                                 NaN
 5                                                 NaN
 6                                                 NaN
 7                                                 NaN
 8                                                 NaN
 9                                                 NaN
 10                                                NaN
 11                                                NaN
 12                                                NaN
 13                                                NaN
 14                                                NaN
 15                                                NaN
 16                                                NaN
 17                                                NaN
 18                                                NaN
 19                                                NaN
 20                                                NaN
 21                                                NaN
 22  Notes: .mw-parser-output .reflist{font-size:90...  ,
    Rank         Country  Population  Area (km2)  Density (pop/km2)
 0     1       Singapore     5921231         719               8235
 1     2      Bangladesh   165650475      148460               1116
 2     3  Palestine[102]     5223000        6025                867
 3     4          Taiwan    23580712       35980                655
 4     5     South Korea    51844834       99720                520
 5     6         Lebanon     5296814       10400                509
 6     7          Rwanda    13173730       26338                500
 7     8         Burundi    12696478       27830                456
 8     9           India  1389637446     3287263                423
 9    10     Netherlands    17400824       41543                419,
    Rank         Country  Population  Area (km2)  Density (pop/km2)  \
 0     1           India  1389637446     3287263                423
 1     2        Pakistan   242923845      796095                305
 2     3      Bangladesh   165650475      148460               1116
 3     4           Japan   124214766      377915                329
 4     5     Philippines   114597229      300000                382
 5     6         Vietnam   103808319      331210                313
 6     7  United Kingdom    67791400      243610                278
 7     8     South Korea    51844834       99720                520
 8     9          Taiwan    23580712       35980                655
 9    10       Sri Lanka    23187516       65610                353

   Population trend[citation needed]
 0                           Growing
 1                   Rapidly growing
 2                           Growing
 3                    Declining[103]
 4                           Growing
 5                           Growing
 6                           Growing
 7                            Steady
 8                            Steady
 9                           Growing  ,
     Year  Population Yearly growth           Density (pop/km2)  \
     Year  Population             %    Number Density (pop/km2)
 0   1951  2584034261         1.88%  47603112                17
 1   1952  2630861562         1.81%  46827301                18
 2   1953  2677608960         1.78%  46747398                18
 3   1954  2724846741         1.76%  47237781                18
 4   1955  2773019936         1.77%  48173195                19
 ..   ...         ...           ...       ...               ...
 65  2016  7464022000         1.14%  84225000                50
 66  2017  7547859000         1.12%  83837000                51
 67  2018  7631091000         1.10%  83232000                51
 68  2019  7713468000         1.08%  82377000                52
 69  2020  7795000000         1.05%  81331000                52

    Urban population
              Number    %
 0         775067697  30%
 1         799282533  30%
 2         824289989  31%
 3         850179106  31%
 4         877008842  32%
 ..              ...  ...
 65       4060653000  54%
 66       4140189000  55%
 67       4219817000  55%
 68       4299439000  56%
 69       4378900000  56%

 [70 rows x 7 columns],
                      Region  1500  1600  1700  1750  1800  1850  1900  1950  \
 0                     World   585   660   710   791   978  1262  1650  2521
 1                    Africa    86   114   106   106   107   111   133   221
 2                      Asia   282   350   411   502   635   809   947  1402
 3                    Europe   168   170   178   190   203   276   408   547
 4     Latin America[Note 1]    40    20    10    16    24    38    74   167
 5  Northern America[Note 1]     6     3     2     2     7    26    82   172
 6                   Oceania     3     3     3     2     2     2     6    13

    1999  2008  2010  2012  2050  2150
 0  6008  6707  6896  7052  9725  9746
 1   783   973  1022  1052  2478  2308
 2  3700  4054  4164  4250  5267  5561
 3   675   732   738   740   734   517
 4   508   577   590   603   784   912
 5   312   337   345   351   433   398
 6    30    34    37    38    57    51  ,
                      Region  1500  1600  1700  1750  1800  1850  1900  1950  \
 0                    Africa  14.7  17.3  14.9  13.4  10.9   8.8   8.1   8.8
 1                      Asia  48.2  53.0  57.9  63.5  64.9  64.1  57.4  55.6
 2                    Europe  28.7  25.8  25.1  20.6  20.8  21.9  24.7  21.7
 3     Latin America[Note 1]   6.8   3.0   1.4   2.0   2.5   3.0   4.5   6.6
 4  Northern America[Note 1]   1.0   0.5   0.3   0.3   0.7   2.1   5.0   6.8
 5                   Oceania   0.5   0.5   0.4   0.3   0.2   0.2   0.4   0.5

    1999  2008  2010  2012  2050  2150
 0  13.0  14.5  14.8  15.2  25.5  23.7
 1  61.6  60.4  60.4  60.3  54.2  57.1
 2  11.2  10.9  10.7  10.5   7.6   5.3
 3   8.5   8.6   8.6   8.6   8.1   9.4
 4   5.2   5.0   5.0   5.0   4.5   4.1
 5   0.5   0.5   0.5   0.5   0.6   0.5  ,
          Year    World  Africa    Asia  Europe  \
 0   70,000 BC  < 0.015     NaN     NaN     NaN
 1   10,000 BC        4     NaN     NaN     NaN
 2     8000 BC        5     NaN     NaN     NaN
 3     6500 BC        5     NaN     NaN     NaN
 4     5000 BC        5     NaN     NaN     NaN
 5     4000 BC        7     NaN     NaN     NaN
 6     3000 BC       14     NaN     NaN     NaN
 7     2000 BC       27     NaN     NaN     NaN
 8     1000 BC       50     7.0    33.0     9.0
 9      500 BC      100    14.0    66.0    16.0
 10       AD 1      200    23.0   141.0    28.0
 11       1000      400    70.0   269.0    50.0
 12       1500      458    86.0   243.0    84.0
 13       1600      580   114.0   339.0   111.0
 14       1700      682   106.0   436.0   125.0
 15       1750      791   106.0   502.0   163.0
 16       1800     1000   107.0   656.0   203.0
 17       1850     1262   111.0   809.0   276.0
 18       1900     1650   133.0   947.0   408.0
 19       1950     2525   229.0  1394.0   549.0
 20       1955     2758   254.0  1534.0   577.0
 21       1960     3018   285.0  1687.0   606.0
 22       1965     3322   322.0  1875.0   635.0
 23       1970     3682   366.0  2120.0   657.0
 24       1975     4061   416.0  2378.0   677.0
 25       1980     4440   478.0  2626.0   694.0
 26       1985     4853   550.0  2897.0   708.0
 27       1990     5310   632.0  3202.0   721.0
 28       1995     5735   720.0  3475.0   728.0
 29       2000     6127   814.0  3714.0   726.0
 30       2005     6520   920.0  3945.0   729.0
 31       2010     6930  1044.0  4170.0   735.0
 32       2015     7349  1186.0  4393.0   738.0

     Latin America & Carib.[Note 1]  North America [Note 1]  Oceania  \
 0                              0.0                     0.0      NaN
 1                              NaN                     NaN      NaN
 2                              NaN                     NaN      NaN
 3                              NaN                     NaN      NaN
 4                              NaN                     NaN      NaN
 5                              NaN                     NaN      NaN
 6                              NaN                     NaN      NaN
 7                              NaN                     NaN      NaN
 8                              NaN                     NaN      NaN
 9                              NaN                     NaN      NaN
 10                             NaN                     NaN      NaN
 11                             8.0                     1.0      2.0
 12                            39.0                     3.0      3.0
 13                            10.0                     3.0      3.0
 14                            10.0                     2.0      3.0
 15                            16.0                     2.0      2.0
 16                            24.0                     7.0      3.0
 17                            38.0                    26.0      2.0
 18                            74.0                    82.0      6.0
 19                           169.0                   172.0     12.7
 20                           193.0                   187.0     14.2
 21                           221.0                   204.0     15.8
 22                           254.0                   219.0     17.5
 23                           288.0                   231.0     19.7
 24                           326.0                   242.0     21.5
 25                           365.0                   254.0     23.0
 26                           406.0                   267.0     24.9
 27                           447.0                   281.0     27.0
 28                           487.0                   296.0     29.1
 29                           527.0                   314.0     31.1
 30                           564.0                   329.0     33.4
 31                           600.0                   344.0     36.4
 32                           634.0                   358.0     39.3

                 Notes

In [91]:
len(datafram_list)

24

In [93]:
datafram_list[4]

   Rank         Country  Population  Area (km2)  Density (pop/km2)
0     1       Singapore     5921231         719               8235
1     2      Bangladesh   165650475      148460               1116
2     3  Palestine[102]     5223000        6025                867
3     4          Taiwan    23580712       35980                655
4     5     South Korea    51844834       99720                520
5     6         Lebanon     5296814       10400                509
6     7          Rwanda    13173730       26338                500
7     8         Burundi    12696478       27830                456
8     9           India  1389637446     3287263                423
9    10     Netherlands    17400824       41543                419

In [94]:
pd.read_html(url, match="10 most densely populated countries", flavor='lxml')[0]

   Rank         Country  Population  Area (km2)  Density (pop/km2)
0     1       Singapore     5921231         719               8235
1     2      Bangladesh   165650475      148460               1116
2     3  Palestine[102]     5223000        6025                867
3     4          Taiwan    23580712       35980                655
4     5     South Korea    51844834       99720                520
5     6         Lebanon     5296814       10400                509
6     7          Rwanda    13173730       26338                500
7     8         Burundi    12696478       27830                456
8     9           India  1389637446     3287263                423
9    10     Netherlands    17400824       41543                419